.container-events .row {
    justify-content: space-around;
}

.container-events .row .card {
    margin-bottom: 30px;
}

.create-event-button {
    justify-content: center;
}

#card-body {
    max-height: 300px;
    overflow-y: auto;
}

.list-group {
    align-items: center;
}

.list-group li {
    width: 300px;
}

img {
    border-radius: 10px;
}